<span class="mobile btn-mobile-menu">
	<i class="icon icon-list btn-mobile-menu__icon"></i>
	<i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}/assets/img/cover.jpg)">
	<div class="panel-main">
		<div class="panel-main__inner panel-inverted">
		<div class="panel-main__content">
			<a href="{{ site.baseurl }}/#view" title="link to {{ site.title }} home page" class="menu-button">
				<img src="{{ site.baseurl }}/assets/img/logo1024x512.png" class="user-image" alt="ArtsyBit logo">
				<h1 class="panel-cover__title panel-title">{{ site.name }}</h1>
			</a>
			<hr class="panel-cover__divider">
			<p class="panel-cover__description">{{ site.description }}</p>
			<hr class="panel-cover__divider panel-cover__divider--secondary">

		<div class="navigation-wrapper">
			<nav class="cover-navigation navigation--primary">
				<ul class="navigation">
					<li class="navigation__item">
						<a href="{{ site.baseurl }}/blog/#view" title="blog posts" class="menu-button">blog</a>
					</li>
					<br>
					<li class="navigation__item">
						<a href="{{ site.baseurl }}/gallery/#view" title="link to {{ site.title }} gallery" class="menu-button">gallery</a>
					</li>
					<br>
					<li class="navigation__item">
						<a href="{{ site.baseurl }}/about/#view" title="about me" class="menu-button">about</a>
					</li>
				</ul>
			</nav>
			
			<br>
			
			<nav class="cover-navigation navigation--social">
				<ul class="navigation">
					{% if site.author.instagram %}
					<!-- Instagram -->
					<li class="navigation__item">
						<a href="https://www.instagram.com/{{ site.author.instagram }}" title="{{ site.author.instagram }} on Instagram" target="_blank">
							<i class="icon icon-social-instagram"></i>
							<span class="label">Instagram</span>
						</a>
					</li>
					{% endif %}
					
					{% if site.author.linkedin %}
					<!-- LinkedIn -->
					<li class="navigation__item">
						<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="{{ site.author.linkedin }} on Linkedin" target="_blank">
							<i class="icon icon-social-linkedin"></i>
							<span class="label">LinkedIn</span>
						</a>
					</li>
					{% endif %}
					
					{% if site.author.github %}
					<!-- GitHub -->
					<li class="navigation__item">
						<a href="https://www.github.com/{{ site.author.github }}" title="{{ site.author.github }} on GitHub" target="_blank">
							<i class="icon icon-social-github"></i>
							<span class="label">GitHub</span>
						</a>
					</li>
					{% endif %}
					
					{% if site.author.emaildisabled %}
					<!-- Email -->
					<li class="navigation__item">
						<a href="mailto:{{ site.author.email }}" title="email {{ site.author.email }}" target="_blank">
							<i class="icon icon-mail"></i>
							<span class="label">Email</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>

		</div><!-- end navigation-wrapper -->

		</div>
		</div>

    <div class="panel-cover--overlay"></div>
	
	</div><!-- end panel-main -->
</header>
